.cartPage {
  text-align: center;
  margin-top: 30vh;
}

.cartPage h2{
  text-transform: uppercase;
  color: #ff0000;
}

.cartPage p {
  font-size: 1.5rem;
  color: #ff0000;
}

.button_buy {
  text-align: center;
}
