.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #060606;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  }

.main {
  color: #ffff00;
}

.main:hover {
  text-decoration: none;
  color: #bdbd23;
}

.cart {
  font-size: 1.5rem;
  color: #ffff00;
}

.cart:hover {
  text-decoration: none;
  color: #bdbd23;
}

.movie {
  font-size: 1rem;
  color: #ffff00;
}

.movie:hover {
  text-decoration: none;
  color: #bdbd23;
}
.figurine {
  font-size: 1rem;
  color: #ffff00;
}

.figurine:hover {
  text-decoration: none;
  color: #bdbd23;
}


