.figurineListItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.figurineListItem_poster {
  margin-right: 15rem;
}

.figurineDetails p {
  font-size: 1.5rem;
  text-align: left;
}

.figurineName {
  font-size: 2.5rem;
  text-align: left;
}

.figurineDetails button {
  font-size: 1.5rem;
  float: left;
}
