.listItem {
  margin-bottom: 2rem;
  list-style-type: none;
}

.alt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}