div h4 {
  color: #060606;
}

.orderDetails {
  display: flex;
  justify-content: space-around;
}

.nameAdress {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.detailsWrapper {
  display: flex;
  justify-content: space-around;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.cardDetails p {
  font-size: 1rem;
}

.nameAdress p {
  font-size: 1rem;
}